CSS
---
---

/* Change la couleur de l'élément sélectionné dans le menu de gauche */
.nav-list-item.active > .nav-list-link {
    color: #137085 !important;
}

/* Change la couleur des boutons principaux */
.btn-primary {
    background-color: #137085 !important;
    border-color: #137085 !important;
}

/* Change la couleur des liens hypertextes dans le texte */
a {
    color: #137085 !important;
}
